*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white:#fff;
  --background: #ececec;
  --gray-line: #9b9b9b;
  --text: #666666;
  --background-card: #B3B9FF;
  --title: #2E384D;
  --red: #ee6e7a;
  --green: #4CD62B;
  --blue: #4c78ea;
  --blue-dark: #4953B8;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body, input, button {
  font: 400 1rem "Roboto", sans-serif;
}

button{
  border: none;
}